header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    text-transform: uppercase;
    cursor: pointer;
}

.active{
    color: var(--activeColor) !important;
  }

.nav-list{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:40px;
    align-items: center;
    padding-left: 100px;

}

.nav-item input {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px 0px 0px 20px;
}

.nav-item button{
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    background: var(--textColor);
    border-radius: 0px 20px 20px 0px;
}

.nav-link{
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    color: var(--textColor);
}

.nav-link:hover{
    color: var(--activeColor);
}

.auth-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
}

.auth-content .buttons button:nth-child(1){
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    background: var(--textColor);
    border-radius: 20px 0px 0px 20px;
}
.auth-content .buttons button:nth-child(2){
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    background: white;
    border-radius: 0px 20px 20px 0px;
}

.modal-auth{
    color: var(--textColor) !important;
}

.modal-auth span {
    color: blue;
    text-decoration: underline;
}

.modal-auth .btn {
    background-color: var(--textColor);
    display: block; 
    margin: 30px auto 0px auto;
    width: 200px;
    font-weight: bold;
    color: var(--activeColor);
}

.modal-auth input{
    padding: 10px 20px;
    border-color: var(--textColor);
    color: var(--textColor) !important;
}

select{
    border-color: var(--textColor) !important;
    outline-color: var(--textColor);
    padding: 10px 20px !important;
}
.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
}